<?xml version="1.0"?>
<root xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <RobinResource xsi:type="ImageMetaResource">
    <Name>Test</Name>
    <FileName>Test.png</FileName>
    <Type>Picture</Type>
    <Id>db938a19-4c4a-4616-8ab3-65be4a5b7536</Id>
    <DisplayScalingFactor>1</DisplayScalingFactor>
    <ScreenWidth>1920</ScreenWidth>
    <ScreenHeight>1080</ScreenHeight>
  </RobinResource>
  <RobinResource xsi:type="ImageMetaResource">
    <Name>имя</Name>
    <FileName>имя.png</FileName>
    <Type>Picture</Type>
    <Id>8dcd3c71-2706-482a-92ae-81da1a3e14f2</Id>
    <DisplayScalingFactor>1</DisplayScalingFactor>
    <ScreenWidth>1920</ScreenWidth>
    <ScreenHeight>1080</ScreenHeight>
  </RobinResource>
  <RobinResource xsi:type="ImageMetaResource">
    <Name>пароль</Name>
    <FileName>пароль.png</FileName>
    <Type>Picture</Type>
    <Id>5013fc5c-426c-40f4-9e93-5f50588b2fce</Id>
    <DisplayScalingFactor>1</DisplayScalingFactor>
    <ScreenWidth>1920</ScreenWidth>
    <ScreenHeight>1080</ScreenHeight>
  </RobinResource>
  <RobinResource xsi:type="ImageMetaResource">
    <Name>вход</Name>
    <FileName>вход.png</FileName>
    <Type>Picture</Type>
    <Id>0f753767-e856-4abe-8e73-734df7e11194</Id>
    <DisplayScalingFactor>1</DisplayScalingFactor>
    <ScreenWidth>1920</ScreenWidth>
    <ScreenHeight>1080</ScreenHeight>
  </RobinResource>
  <RobinResource xsi:type="ImageMetaResource">
    <Name>Касса</Name>
    <FileName>Касса.png</FileName>
    <Type>Picture</Type>
    <Id>23ad08f1-2a73-4cdc-a46c-3f4f01881a4a</Id>
    <DisplayScalingFactor>1</DisplayScalingFactor>
    <ScreenWidth>1920</ScreenWidth>
    <ScreenHeight>1080</ScreenHeight>
  </RobinResource>
  <RobinResource xsi:type="ImageMetaResource">
    <Name>Документы</Name>
    <FileName>Документы.png</FileName>
    <Type>Picture</Type>
    <Id>5256fa46-6e59-4acf-b3b6-db1bcba18a1b</Id>
    <DisplayScalingFactor>1</DisplayScalingFactor>
    <ScreenWidth>1920</ScreenWidth>
    <ScreenHeight>1080</ScreenHeight>
  </RobinResource>
  <RobinResource xsi:type="ImageMetaResource">
    <Name>Авансовый отчет</Name>
    <FileName>Авансовый отчет.png</FileName>
    <Type>Picture</Type>
    <Id>30b31e25-7eac-4bbb-b461-7cacc9204de2</Id>
    <DisplayScalingFactor>1</DisplayScalingFactor>
    <ScreenWidth>1920</ScreenWidth>
    <ScreenHeight>1080</ScreenHeight>
  </RobinResource>
  <RobinResource xsi:type="ImageMetaResource">
    <Name>Кассы предприятия</Name>
    <FileName>Кассы предприятия.png</FileName>
    <Type>Picture</Type>
    <Id>7b98dc78-b36f-4047-ad27-06da30599821</Id>
    <DisplayScalingFactor>1</DisplayScalingFactor>
    <ScreenWidth>1920</ScreenWidth>
    <ScreenHeight>1080</ScreenHeight>
  </RobinResource>
  <RobinResource xsi:type="ImageMetaResource">
    <Name>Сотрудники предприятия</Name>
    <FileName>Сотрудники предприятия.png</FileName>
    <Type>Picture</Type>
    <Id>0e23d07f-aadf-445b-8b58-cd7a1469c633</Id>
    <DisplayScalingFactor>1</DisplayScalingFactor>
    <ScreenWidth>1920</ScreenWidth>
    <ScreenHeight>1080</ScreenHeight>
  </RobinResource>
  <RobinResource xsi:type="ImageMetaResource">
    <Name>ОтчетВФормате</Name>
    <FileName>ОтчетВФормате.png</FileName>
    <Type>Picture</Type>
    <Id>ecc4f544-2394-48c0-bb64-6e4295455769</Id>
    <DisplayScalingFactor>1</DisplayScalingFactor>
    <ScreenWidth>1366</ScreenWidth>
    <ScreenHeight>768</ScreenHeight>
  </RobinResource>
  <RobinResource xsi:type="ImageMetaResource">
    <Name>Формат</Name>
    <FileName>Формат.png</FileName>
    <Type>Picture</Type>
    <Id>a687254c-6184-40ed-82e6-56b99ca6705e</Id>
    <DisplayScalingFactor>1</DisplayScalingFactor>
    <ScreenWidth>1920</ScreenWidth>
    <ScreenHeight>1080</ScreenHeight>
  </RobinResource>
  <RobinResource xsi:type="ImageMetaResource">
    <Name>ИмяФайла</Name>
    <FileName>ИмяФайла.png</FileName>
    <Type>Picture</Type>
    <Id>4eba4af7-7072-42b8-86c0-0f6d168fef50</Id>
    <DisplayScalingFactor>1</DisplayScalingFactor>
    <ScreenWidth>1920</ScreenWidth>
    <ScreenHeight>1080</ScreenHeight>
  </RobinResource>
  <RobinResource xsi:type="ImageMetaResource">
    <Name>ТипФайла</Name>
    <FileName>ТипФайла.png</FileName>
    <Type>Picture</Type>
    <Id>9d676ea3-8ac1-43da-af10-07a130209d02</Id>
    <DisplayScalingFactor>1</DisplayScalingFactor>
    <ScreenWidth>1920</ScreenWidth>
    <ScreenHeight>1080</ScreenHeight>
  </RobinResource>
  <RobinResource xsi:type="ImageMetaResource">
    <Name>ДкументыПуть</Name>
    <FileName>Дкументы.png</FileName>
    <Type>Picture</Type>
    <Id>ac3aff50-0a10-4089-b83f-c8b7166d183a</Id>
    <DisplayScalingFactor>1</DisplayScalingFactor>
    <ScreenWidth>1920</ScreenWidth>
    <ScreenHeight>1080</ScreenHeight>
  </RobinResource>
  <RobinResource xsi:type="ImageMetaResource">
    <Name>НоваяПапка</Name>
    <FileName>НоваяПапка.png</FileName>
    <Type>Picture</Type>
    <Id>09de38b7-5c71-49dd-90a6-f53e7587e9d6</Id>
    <DisplayScalingFactor>1</DisplayScalingFactor>
    <ScreenWidth>1920</ScreenWidth>
    <ScreenHeight>1080</ScreenHeight>
  </RobinResource>
  <RobinResource xsi:type="ImageMetaResource">
    <Name>PDF</Name>
    <FileName>PDF.png</FileName>
    <Type>Picture</Type>
    <Id>c61b1d5c-5e39-4333-aca8-d6458c295f24</Id>
    <DisplayScalingFactor>1</DisplayScalingFactor>
    <ScreenWidth>1920</ScreenWidth>
    <ScreenHeight>1080</ScreenHeight>
  </RobinResource>
  <RobinResource xsi:type="ImageMetaResource">
    <Name>Созхранить</Name>
    <FileName>Созранить.png</FileName>
    <Type>Picture</Type>
    <Id>2222c6cf-200b-4063-a40f-7ef8078b0258</Id>
    <DisplayScalingFactor>1</DisplayScalingFactor>
    <ScreenWidth>1366</ScreenWidth>
    <ScreenHeight>768</ScreenHeight>
  </RobinResource>
  <RobinResource xsi:type="ImageMetaResource">
    <Name>ВыберетеОтчетОст</Name>
    <FileName>ВыберетеОтчет.png</FileName>
    <Type>Picture</Type>
    <Id>748a2519-1a23-4262-9004-b91f6e332368</Id>
    <DisplayScalingFactor>1</DisplayScalingFactor>
    <ScreenWidth>1920</ScreenWidth>
    <ScreenHeight>1080</ScreenHeight>
  </RobinResource>
  <RobinResource xsi:type="ImageMetaResource">
    <Name>Файл</Name>
    <FileName>Файл.png</FileName>
    <Type>Picture</Type>
    <Id>28219be6-2d14-40da-8710-dc44ce22c02c</Id>
    <DisplayScalingFactor>1</DisplayScalingFactor>
    <ScreenWidth>1920</ScreenWidth>
    <ScreenHeight>1080</ScreenHeight>
  </RobinResource>
  <RobinResource xsi:type="ImageMetaResource">
    <Name>Выход</Name>
    <FileName>Выход.png</FileName>
    <Type>Picture</Type>
    <Id>8172ab2f-55ff-4cbd-8fdc-ed65fea8a8fd</Id>
    <DisplayScalingFactor>1</DisplayScalingFactor>
    <ScreenWidth>1920</ScreenWidth>
    <ScreenHeight>1080</ScreenHeight>
  </RobinResource>
  <RobinResource xsi:type="ImageMetaResource">
    <Name>НеСохранять</Name>
    <FileName>НеСохранять.png</FileName>
    <Type>Picture</Type>
    <Id>609ebcc3-7a5b-4436-a6ea-acb59616e345</Id>
    <DisplayScalingFactor>1</DisplayScalingFactor>
    <ScreenWidth>1920</ScreenWidth>
    <ScreenHeight>1080</ScreenHeight>
  </RobinResource>
  <RobinResource xsi:type="ImageMetaResource">
    <Name>ВыберетеОтчетТнф</Name>
    <FileName>ВыберетеОтчетТнф.png</FileName>
    <Type>Picture</Type>
    <Id>0372c93f-fdba-4737-aa6e-026b1ef9eb19</Id>
    <DisplayScalingFactor>1</DisplayScalingFactor>
    <ScreenWidth>1920</ScreenWidth>
    <ScreenHeight>1080</ScreenHeight>
  </RobinResource>
  <RobinResource xsi:type="ImageMetaResource">
    <Name>Компьютер</Name>
    <FileName>Компьютер.png</FileName>
    <Type>Picture</Type>
    <Id>bc784d11-6ca8-498e-9867-ca2ec37a9bfb</Id>
    <DisplayScalingFactor>1</DisplayScalingFactor>
    <ScreenWidth>1920</ScreenWidth>
    <ScreenHeight>1080</ScreenHeight>
  </RobinResource>
  <RobinResource xsi:type="ImageMetaResource">
    <Name>Пуск</Name>
    <FileName>Пуск.png</FileName>
    <Type>Picture</Type>
    <Id>a4603e12-a8d1-420f-95c4-4cd1b3819404</Id>
    <DisplayScalingFactor>1</DisplayScalingFactor>
    <ScreenWidth>1920</ScreenWidth>
    <ScreenHeight>1080</ScreenHeight>
  </RobinResource>
  <RobinResource xsi:type="ImageMetaResource">
    <Name>МалшенькаяКасса</Name>
    <FileName>МалшенькаяКасса.png</FileName>
    <Type>Picture</Type>
    <Id>e4b70ab4-6a51-4866-9e7c-c1ad9027137e</Id>
    <DisplayScalingFactor>1</DisplayScalingFactor>
    <ScreenWidth>1366</ScreenWidth>
    <ScreenHeight>768</ScreenHeight>
  </RobinResource>
  <RobinResource xsi:type="ImageMetaResource">
    <Name>МаленькаяКасса</Name>
    <FileName>МаленькаяКасса.png</FileName>
    <Type>Picture</Type>
    <Id>70eeed24-bb06-45e9-a9ea-f81f09474538</Id>
    <DisplayScalingFactor>1</DisplayScalingFactor>
    <ScreenWidth>1366</ScreenWidth>
    <ScreenHeight>768</ScreenHeight>
  </RobinResource>
</root>